@using Cropper.Blazor.Models

<BaseModal @ref="_modal"
           Subtitle="@Localizer["RedesignYourImage"]"
           CssClass="modal--crop-image"
           CloseOnOutsideClick="false">
    <BodyContent>
        <div class="cropper__container">
            <CropperComponent @ref="_cropperComponent"
                              Src="@ImageBase64"
                              Options="@_cropperOptions"/>
        </div>
        
        <div class="cropper__controls">
            <button class="button button--icon" @onclick="RotateLeft">
                <SvgIcon Name="rotate-left" />
            </button>
            <button class="button button--icon" @onclick="RotateRight">
                <SvgIcon Name="rotate-right" />
            </button>
            <button class="@DragBtnClass(DragMode.Move)" @onclick="() => SetDragMode(DragMode.Move)">
                <SvgIcon Name="hand" /> 
            </button>
            <button class="@DragBtnClass(DragMode.Crop)" @onclick="() => SetDragMode(DragMode.Crop)">
                <SvgIcon Name="crop" /> 
            </button>
        </div>
    </BodyContent>
    <FooterContent>
        <button class="button" @onclick="ResetCropper">@Localizer["Reset"]</button>
        <button class="button button--primary" @onclick="ApplyAndRecognize">@Localizer["ApplyAndRecognize"]</button>
    </FooterContent>
</BaseModal>