@using NumCalc.UI.Shared.Components

@if (Size > 1)
{
    <div class="equation-list">
        @for (var i = 0; i < Size; i++)
        {
            var index = i;
            <div class="equation-list__row">
                <span class="equation-list__label">g<sub>@(index + 1)</sub>(x)</span>

                <div class="equation-list__math-input">
                    <Tooltip>
                        <Content>
                            <MathInput @ref="MathInputs[index]" />
                        </Content>
                        <Hint>Iteration function g<sub>@(index + 1)</sub>(x). Rewrite f<sub>@(index + 1)</sub>(x) = 0 as x<sub>@(index + 1)</sub> = g<sub>@(index + 1)</sub>(x) for fixed-point / Seidel iteration.</Hint>
                    </Tooltip>
                </div>

                <Tooltip>
                    <Content>
                        <div class="equation-list__guess">
                            <span>x<sub>@(index + 1)</sub><sup>0</sup> =</span>
                            <input type="number" step="any"
                                   value="@InitialGuess[index]"
                                   @onchange="e => { if (double.TryParse(e.Value?.ToString(), out var v)) InitialGuess[index] = v; }" />
                        </div>
                    </Content>
                    <Hint>Initial guess for x<sub>@(index + 1)</sub>. Choose a value close to the expected solution.</Hint>
                </Tooltip>
            </div>
        }

        <div class="equation-list__params">
            <Tooltip>
                <Content>
                    <div class="input-group">
                        <label class="input-group__label">Tolerance</label>
                        <input type="number" step="any" class="input-group__input"
                               @bind="Tolerance" />
                    </div>
                </Content>
                <Hint>Maximum allowed error between iterations (e.g. 0.000001).</Hint>
            </Tooltip>

            <Tooltip>
                <Content>
                    <div class="input-group">
                        <label class="input-group__label">Max iterations</label>
                        <input type="number" class="input-group__input"
                               @bind="MaxIterations" />
                    </div>
                </Content>
                <Hint>Maximum number of iterations before stopping.</Hint>
            </Tooltip>
        </div>
    </div>
}
