<div class="save-input-actions @(ShowSaveForm ? "save-input-actions--active" : "")">
    <div class="save-input-actions__badge pulse-button">
        <SvgIcon Name="bookmark" />
    </div>

    <div class="save-input-actions__popover">
        @if (ShowSaveForm)
        {
            <input type="text" class="input-group__input"
                   value="@SaveName"
                   @oninput="@(e => SaveNameChanged.InvokeAsync(e.Value?.ToString() ?? string.Empty))"
                   placeholder="@Localizer["SaveInputName"]"
                   autofocus />
            <div class="save-input-actions__popover-buttons">
                <button class="button button--secondary" @onclick="OnConfirmSave">@Localizer["Save"]</button>
                <button class="button" @onclick="OnHideSave">@Localizer["Cancel"]</button>
            </div>
        }
        else
        {
            <ul class="save-input-actions__list hoverable">
                <li class="save-input-actions__item" @onclick="OnShowSave">
                    <SvgIcon Name="save-disk" />
                    @Localizer["SaveInputs"]
                </li>
                <li class="save-input-actions__item" @onclick="OnLoad">
                    <SvgIcon Name="eye" />
                    @Localizer["LoadInputs"]
                </li>
            </ul>
        }
    </div>
</div>
