<div class="save-input-actions @(ShowSaveForm ? "save-input-actions--active" : "")">
    <div class="save-input-actions__badge pulse-button">
        <SvgIcon Name="bookmark" />
    </div>

    <div class="save-input-actions__popover">
        @if (ShowSaveForm)
        {
            <input type="text" class="input-group__input"
                   value="@SaveName"
                   @oninput="@(e => SaveNameChanged.InvokeAsync(e.Value?.ToString() ?? string.Empty))"
                   placeholder="@Localizer["SaveInputName"]"
                   autofocus />
            <div class="save-input-actions__popover-buttons">
                <button class="button button--secondary" @onclick="OnConfirmSave">@Localizer["Save"]</button>
                <button class="button" @onclick="OnHideSave">@Localizer["Cancel"]</button>
            </div>
        }
        else
        {
            <button class="button button--primary" @onclick="OnShowSave">
                <SvgIcon Name="save-disk"></SvgIcon>
                @Localizer["SaveInputs"]
            </button>
            <button class="button button--primary" @onclick="OnLoad">
                <SvgIcon Name="eye"></SvgIcon>
                @Localizer["LoadInputs"]
            </button>
        }
    </div>
</div>
