@using Microsoft.Extensions.Localization
@using NumCalc.UI.Shared.Resources

@if (Steps is { Count: > 0 })
{
    <div class="solution-steps__container">
        <ul id="@_containerId" class="solution-steps__list">
            @foreach (var step in Steps)
            {
                <li class="solution-steps__item">
                    <span class="solution-steps__item-title">
                        @step.StepIndex
                        @if (!string.IsNullOrWhiteSpace(step.Description))
                        {
                            <span class="solution-steps__item-desc">&nbsp;&mdash;&nbsp;@step.Description</span>
                        }
                    </span>
                    <div class="solution-steps__item-text">
                        @if (step.IsThereTextContent)
                        {
                            if (!string.IsNullOrWhiteSpace(step.LatexFormula))
                            {
                                <div class="solution-steps__item-formula" data-latex="@step.LatexFormula"></div>
                            }
                            if (!string.IsNullOrWhiteSpace(step.Value))
                            {
                                <span class="solution-steps__item-value" data-latex="@step.Value"></span>
                            }
                        }
                        else
                        {
                            @Localizer["ThereIsNoDescriptionToStep"]
                        }
                    </div>
                </li>
            }
        </ul>
    </div>
}
