@page "/register"
@layout AuthLayout
@using Microsoft.AspNetCore.Components.Forms
@using NumCalc.UI.Shared.Layouts
@using NumCalc.UI.Shared.Components
@inherits BasePage<Register>

<div class="page-wrapper page__auth">
    <div class="auth-form">
        <div class="auth-form__header">
            <div class="auth-form__logo">
                <SvgIcon Name="logos-logo-full"/>
            </div>
            <LanguageSwitch/>
        </div>

        <EditForm Model="RegisterForm" OnValidSubmit="OnRegistrationSubmit">
            <DataAnnotationsValidator/>

            <div class="auth-form__field">
                <label>@Localizer["Username"]</label>
                <InputText @bind-Value="RegisterForm.Username" type="text" class="input" placeholder="@Localizer["Username"]"/>
                <ValidationMessage For="@(() => RegisterForm.Username)"/>
            </div>

            <div class="auth-form__field">
                <label>@Localizer["Password"]</label>
                <InputText @bind-Value="RegisterForm.Password" type="password" class="input" placeholder="@Localizer["Password"]"/>
                <ValidationMessage For="@(() => RegisterForm.Password)"/>
            </div>

            <div class="auth-form__field">
                <label>@Localizer["ConfirmPassword"]</label>
                <InputText @bind-Value="RegisterForm.ConfirmPassword" type="password" class="input" placeholder="@Localizer["ConfirmPassword"]"/>
                <ValidationMessage For="@(() => RegisterForm.ConfirmPassword)"/>
            </div>

            <button type="submit" class="button button--primary">@Localizer["Register"]</button>
        </EditForm>
        
        <div class="auth-form__footer">
            <p>
                @Localizer["AlreadyHaveAccount"]
                <a href="/login">@Localizer["Login"]</a>
            </p>

            <p>
                <a href="/">@Localizer["ContinueAsGuest"]</a>
            </p>
        </div>
    </div>
</div>
