@using NumCalc.Shared.Enums.RootFinding
@using NumCalc.UI.Shared.Enums.Roots
@using NumCalc.UI.Shared.Components
@using NumCalc.UI.Shared.Utils

@inherits BasePage

@page "/root-finding"

<div class="page-wrapper page__root-finding">
    <div class="root-finding__form-wrapper">
        <div class="root-finding__filters-container">
            <Switch TItem="AnalysisMode"
                    Data="@(Enum.GetValues<AnalysisMode>())"
                    @bind-Value="Mode"
                    TextField="@(item => item.ToString())"/>

            @switch (Mode)
            {
                case AnalysisMode.Single:
                    <Dropdown TItem="RootFindingMethod"
                              Data="@(Enum.GetValues<RootFindingMethod>())"
                              @bind-Value="_singleMethod"
                              TextField="@(item => item.ToString())"/>
                    break;
                case AnalysisMode.Benchmark:
                    <Dropdown TItem="RootFindingMethod"
                              Data="@(Enum.GetValues<RootFindingMethod>())"
                              MultiSelect="true"
                              @bind-SelectedItems="_benchmarkMethods"
                              TextField="@(item => item.ToString())"/>
                    break;
                default:
                    throw new ArgumentOutOfRangeException();
            }
        </div>
        <div class="root-finding__form">
            <div class="input-section__wrapper">
                <MathInput Label="@Localizer["Expression"]"
                           @bind-Value="_formData.FunctionExpression"
                           @ref="_mathInputComponent"
                           OnInput="OnParametersChanged"/>

                <div class="input-group">
                    <label class="input-group__label">
                        @(Mode is AnalysisMode.Single && _singleMethod is RootFindingMethod.Newton
                            ? Localizer["InitialGuess"]
                            : Localizer["StartPoint"])
                    </label>
                    <input type="number" class="input-group__input" step="any"
                           @bind="_formData.StartPoint"
                           @bind:event="oninput"
                           @bind:after="OnParametersChanged" />
                </div>

                <div class="input-group">
                    <label class="input-group__label">@Localizer["EndPoint"]</label>
                    <input type="number" class="input-group__input" step="any"
                           @bind="_formData.EndPoint"
                           @bind:event="oninput"
                           @bind:after="OnParametersChanged" />
                </div>

                <div class="input-group">
                    <label class="input-group__label">@Localizer["Tolerance"]</label>
                    <input type="number" @bind="_formData.Tolerance" class="input-group__group" step="0.00001"/>
                </div>
            </div >
            <button class="button button--primary" @onclick="Calculate">@Localizer["Calculate"]</button>
        </div>
        @if (Mode is AnalysisMode.Single && Result?.SolutionSteps is { Count: > 0 })
        {
            <ul class="root-finding-result__list solution-steps__list">
                @foreach (var step in Result.SolutionSteps)
                {
                    <li class="solution-steps__item">
                        <span class="solution-steps__item-title">
                            @step.StepIndex
                            @if (!string.IsNullOrWhiteSpace(step.Description))
                            {
                                <span class="solution-steps__item-desc">&nbsp;&mdash;&nbsp;@Localizer[step.Description]</span>
                            }
                        </span>
                        <div class="solution-steps__item-text">
                            @if (step.IsThereTextContent)
                            {
                                if (!string.IsNullOrWhiteSpace(step.LatexFormula))
                                {
                                    <span class="solution-steps__item-formula">@($"{Localizer["LaTeXRecord"]}: {step.LatexFormula}").&nbsp;</span>
                                }
                                if (!string.IsNullOrWhiteSpace(step.Value))
                                {
                                    <span class="solution-steps__item-value">@($"{Localizer["GottenValue"]}: {step.Value}").</span>
                                }
                            }
                            else
                            {
                                @Localizer["ThereIsNoDescriptionToStep"]
                            }
                        </div>
                    </li>
                }
            </ul>
        }
        else if (Mode is AnalysisMode.Benchmark && ComparisonResult?.Results is { Count: > 0 })
        {
            <ul class="root-finding-result__list">
                @foreach (var benchmarkResult in ComparisonResult.Results)
                {
                    <li class="root-finding-result__item comparison-result__item @(benchmarkResult.Method == ComparisonResult.BestMethod ? "marked" : "")">
                        <span class="root-finding-result__item-title">@Localizer[benchmarkResult.Method.ToString()]</span>
                        <div class="root-finding-result__item-text">
                            @{
                                var root = benchmarkResult.Root.HasValue ? benchmarkResult.Root.Value.RangeNumber(_formData.Tolerance) : string.Empty;
                            }
                            <span class="root-finding-result__item-subtitle">@Localizer["Root"]</span>: @root &nbsp;|&nbsp;
                            <span class="root-finding-result__item-subtitle">@Localizer["Iterations"]</span>: @benchmarkResult.Iterations &nbsp;|&nbsp;
                            <span class="root-finding-result__item-subtitle">@Localizer["ExecutionTime"]</span>: @benchmarkResult.ExecutionTimeMs @Localizer["ms"]
                        </div>
                    </li>
                }
            </ul>
        }
        else
        {
            <div class="root-finding-result__container--empty">
                <span class="remark">@Localizer["ClickCalculateToViewResult"]</span>
            </div>
        }
    </div>

    <div class="chart__container">
        <div class="chart" id="@ChartContainerId" style="display: @(_isChartBuilt ? "block" : "none");"></div>
        <span class="remark" style="display: @(_isChartBuilt ? "none" : "block");">@Localizer["ClickCalculateToViewResult"]</span>
    </div>
</div>
